# logs and temp
*.log
**/*.log
*.cpuprofile
**/*.cpuprofile
temp
**/temp
*.tmp
**/*.tmp



# env and local
*.local
**/*.local
.env
**/.env

#node_modules and pnpm
node_modules
**/node_modules
.pnpm-store
**/.pnpm-store

#ide
.idea
**/.idea
.vscode
**/.vscode

# macos
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# other
coverage
