{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"endOfLine": "lf",
	"overrides": [
		{
			"files": ["**/CHANGELOG.md", "**/pnpm-lock.yaml"],
			"options": {
				"requirePragma": true
			}
		},
		{
			"files": ["**/package.json", "**/README.md"],
			"options": {
				"useTabs": true,
				"tabWidth": 2
			}
		}
	]
}
